<div class="popular-articles-item">
  <div class="popular-articles-item-image"
       style="background-image: url(assets/assets/images/104.png)"></div>


  <div class="popular-articles-item-texts">
    <div class="popular-articles-item-name">
      Как произвести впечатление на нового клиента?
    </div>

    <div class="popular-articles-item-description">
      Поиск новых клиентов — это сложная задача не только для новичков, но и для опытных специалистов. Мы расскажем, как
      справиться с волнением, завоевать доверие клиента и произвести на него потрясающее первое впечатление.
    </div>
  </div>

  <div class="popular-articles-item-action">
    <a href="#">Читать дальше</a>
  </div>
</div>
