<!--Секция карусели-->
<app-carousel></app-carousel>

<!--Секция услуг-->
<app-services></app-services>

<!--Секция информации-->
<app-info></app-info>


<!--Секция популярных статей-->
<section class="popular-articles">
  <div class="container">
    <app-popular-articles></app-popular-articles>
  </div>
</section>

<!--Секция отзывов-->
<section class="reviews" id="reviews">
  <div class="container">
    <app-reviews></app-reviews>
  </div>
</section>

<!--Секция контактов-->
<section class="contacts" id="contacts">
  <div class="container">
    <app-contacts></app-contacts>
  </div>
</section>
