@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main-carousel {
  .container {
    padding-bottom: 120px;

  }
}


.services {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 142px;

    .services-title {
      align-self: start;
      @include head-title;
      margin-bottom: 40px;
    }

    .services-items {
      display: flex;
      justify-content: center;

      .services-item {
        width: 290px;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        .services-item-image {
          width: 290px;
          height: 290px;
          border-radius: 5px;
          background-size: cover;
          background-position: center;
        }

        .services-item-name {
          padding-top: 15px;
          padding-bottom: 10px;
          @include card-title;
        }

        .services-item-description {
          height: 90px;
          font-size: 14px;
          line-height: 130%;
          color: $blue-color;
          margin-bottom: 33px;
        }

        .services-item-action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .services-item-price {
            font-weight: 600;
            font-size: 20px;
            color: $light-blue-color;
          }

          .button {
            width: 163px;
          }
        }
      }
    }
  }
}


.info {
  .container {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-block {
      width: 703px;

      .info-title {
        @include head-title;
        margin-bottom: 20px;
      }

      .info-description {
        font-size: 14px;
        line-height: 130%;
        color: #1e1a2b;
        margin-bottom: 40px;

        span {
          font-weight: 500;
        }
      }

      .info-small-title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 26px;
        color: $light-blue-color;
        margin-bottom: 20px;
      }

      .info-advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .info-advantage {
          width: 316px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .info-advantage-number-circle {
            background-color: #b9d5fd;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            display: flex;
            flex-grow: 0;
            position: relative;

            .info-advantage-number {
              position: absolute;
              top: -20px;
              left: 5px;
              font-family: $second-family;
              font-weight: 500;
              font-size: 50px;
              color: $light-blue-color;
              text-align: center;
              width: 28px;
            }
          }

          .info-advantage-text {
            width: 256px;
            font-size: 14px;
            line-height: 130%;
            color: #1e1a2b;

            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.popular-articles {
  .container {
    padding-bottom: 120px;
  }
}

.reviews {
  .container {
    padding-bottom: 120px;
  }
}

.contacts {
  .container {
    padding-bottom: 120px;

    .contacts-block {
      display: flex;

      .contacts-maps {
        width: 607px;
        height: 438px;
      }

      .contacts-info {
        margin-left: 26px;
        width: 501px;

        .contacts-title {
          @include head-title;
        }

        .contacts-item {
          margin-top: 20px;

          .contacts-item-name {
            @include card-title;
            margin-bottom: 10px;
          }

          .contacts-item-description {
            font-size: 14px;
            line-height: 130%;
            color: $blue-color;

            a {
              color: $blue-color;
              text-decoration: none;
              @include hover-color-light-blue;
            }
          }

          .contacts-item-links {
            display: flex;
            align-items: center;

            a {
              margin-right: 10px;
              transition: all .3s;

              &:last-child {
                margin-right: 0;
              }

              &:hover svg path {
                fill: $light-blue-color-hover;
              }
            }
          }
        }
      }
    }
  }
}

