@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.popular-articles {
  .container {
    padding-bottom: 120px;
  }
}

.reviews {
  .container {
    padding-bottom: 120px;
  }
}

.contacts {
  .container {
    padding-bottom: 120px;
  }
}

