<section class="carousel">
  <div class="container">

    <p-carousel [value]="blocks" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
                [autoplayInterval]="4000">
      <ng-template let-block pTemplate="item">

        <div class="carousel-item" style="background-image: url({{block.image}})">

          <div class="carousel-category">
            {{block.category}}
          </div>

          <div class="carousel-title" [innerHTML]="block.title"></div>

          <div class="carousel-text">
            {{block.text}}
          </div>

          <div class="carousel-button">
            <button class="button">Подробнее</button>
          </div>
        </div>

      </ng-template>
    </p-carousel>

  </div>
</section>
