<section class="carousel">
  <div class="container">
    <!--  <div class="carousel-item" style="background-image: url(assets/assets/images/carousel/1.png)">-->
    <!--    <div class="carousel-category">-->
    <!--      Предложение месяца-->
    <!--    </div>-->

    <!--    <div class="carousel-title">-->
    <!--      Продвижение в Instagram для вашего бизнеса <span>-15%</span>!-->
    <!--    </div>-->

    <!--    <div class="carousel-button">-->
    <!--      <button class="button">Подробнее</button>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--    <div class="carousel-item" style="background-image: url(assets/assets/images/carousel/2.png)">-->
    <!--      <div class="carousel-category">-->
    <!--        Акция-->
    <!--      </div>-->

    <!--      <div class="carousel-title">-->
    <!--        Нужен грамотный <span>копирайтер </span>?-->
    <!--      </div>-->

    <!--      <div class="carousel-text">-->
    <!--        Весь декабрь у нас действует акция на работу копирайтера.-->
    <!--      </div>-->

    <!--      <div class="carousel-button">-->
    <!--        <button class="button">Подробнее</button>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--  <div class="carousel-item">-->
    <!--    <div class="carousel-category">-->
    <!--      Новость дня-->
    <!--    </div>-->

    <!--    <div class="carousel-title">-->
    <!--      <span>6 место</span> в ТОП-10 SMM-агенств Москвы!-->
    <!--    </div>-->

    <!--    <div class="carousel-text">-->
    <!--      Мы благодарим каждого, кто голосовал за нас!-->
    <!--    </div>-->

    <!--    <div class="carousel-button">-->
    <!--      <button class="button">Подробнее</button>-->
    <!--    </div>-->
    <!--  </div>-->


    <p-carousel [value]="blocks" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="10000">
      <ng-template let-block pTemplate="item">

        <div class="carousel-item" style="background-image: url({{block.image}})">
          <div class="carousel-category">
            {{block.category}}
          </div>

          <div class="carousel-title">
            {{block.title}}
          </div>

          <div class="carousel-text">
            {{block.text}}
          </div>

          <div class="carousel-button">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </ng-template>
    </p-carousel>


  </div>
</section>
