<section class="info" id="info">
  <div class="container">
    <div class="info-image">
      <img src="../../../../assets/assets/images/images/info-image.png" alt="Image">
    </div>

    <div class="info-block">
      <div class="info-title">
        Кто мы и чем мы занимаемся?
      </div>

      <div class="info-description">
        <span>АйтиШторм</span> — это ваш помощник №1 при решении таких вопросов, как продвижение в сети, разработка
        сайтов для
        бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной концепции и создание
        инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10 агенств, предлагающих
        услуги продвижения в сети.
      </div>

      <div class="info-small-title">
        Наши преимущества
      </div>

      <div class="info-advantages">
        <div class="info-advantage">
          <div class="info-advantage-number-circle">
            <div class="info-advantage-number">
              1
            </div>
          </div>

          <div class="info-advantage-text">
            <span>Мастерски вовлекаем аудиториюв процесс.</span> Мы увеличиваем процент вовлечённости за короткий
            промежуток времени.
          </div>
        </div>


        <div class="info-advantage">
          <div class="info-advantage-number-circle">
            <div class="info-advantage-number">
              2
            </div>
          </div>

          <div class="info-advantage-text">
            <span>Разрабатываем бомбическую визуальную концепцию.</span> Наши специалисты знают как создать уникальный
            образ вашего проекта.
          </div>
        </div>


        <div class="info-advantage">
          <div class="info-advantage-number-circle">
            <div class="info-advantage-number">
              3
            </div>
          </div>

          <div class="info-advantage-text">
            <span>Создаём мощные воронки с помощью текстов.</span> Наши копирайтеры создают не только вкусные текста, но
            и классные воронки.
          </div>
        </div>


        <div class="info-advantage">
          <div class="info-advantage-number-circle">
            <div class="info-advantage-number">
              4
            </div>
          </div>

          <div class="info-advantage-text">
            <span>Помогаем продавать больше.</span> Мы не только помогаем разработать стратегию по продажам, но также
            корректируем её под нужды заказчика.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
